@import url('https://fonts.googleapis.com/css?family=Roboto|Material+Icons');
@import '~@/colors.scss';

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #F0EEEC;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 16px;
    color: $color-text;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

p {
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
}

a, a:hover {
    text-decoration: none !important;
}


label {
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.01em;
    font-size: 1rem;
}

input[type=text] {
    background-color: transparent;
    color: $color-active;
    border: none;
    border-bottom: 1px solid $color-inactive;
    font-size: 1rem;
    outline: none;
    height: 2.5rem;
    transition: all 0.1s ease-in-out;
    font-family: 'Roboto', sans-serif;

    &:focus {
        border-color: $color-active;
    }

    &::placeholder {
        color: $color-inactive;
    }
}


::-webkit-scrollbar-track
{
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(white, 0.3);
    border-radius: 3px;
}
